<a href='/search'>Search</a> <a href="/users/profile">Profile</a>

<% const {title,episodes,rating, synopsis, images, status, duration, background, mal_id } = anime %> 


<h1><%= title %></h1>
<img src="<%=images.jpg.large_image_url%>"/>
<p><b>Episode: </b><%=episodes%></p>
<p><b>Duration: </b> <%=duration %></p>
<p><b>Rating: </b><%=rating %></p>
<p><b>Synopsis: </b><%=synopsis%></p>
<p><b>Background: </b></b><%=background%></p>
<p><b>Status: </b> </b><%= status  %>  </p>

<form method="POST" action="/users/profile">
    <input hidden value="<%=title%>" name="title"/>
    <input hidden value="<%=mal_id%>" name="mal_id"/>
    <button type="submit">Save this anime</button>
    
    
    <form >
        <label for="create">Create comment</label>
        <input type="text" name="content" id="create"/>
        <button type="submit">submit</button>
    </form>

</form>




